<section>

<article class="row">
<div class="col-md-6">
  <h2>Hey, Welcome!</h2>
<p>The Movie Quotes API is here!</p>
</div>
<div class="col-md-6">
<h3>Do you like Movie Quotes?</h3>
<h4>We sure hope so.</h4>
</div>
</article>
</section>
