<!-- include bootstrap -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Quotes</title>
    <link rel="stylesheet" href=" /css/bootstrap.css">

  </head>
  <body>
<img src=" /img/movie.gif">
<h1>Movies for everyone</h1>
    <hr>
    <%= yield %>
  </body>
</html>
